<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="../stylesheet.css">
        <title>To-Do List</title>
    </head>
    <body>
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-2">
                    <h2 class="mb-3">Add A New To-Do</h2>
                    <form method="POST" action="/">
                        <div class="mb-3">
                            <label for="task" class="form-label">Enter Your Task</label>
                            <input type="text" name="task" id="task" class="form-control">
                        </div>
                        <div class="mb-1">Select Task Priority</div>
                        <div class="form-check form-check-inline mb-3">
                            <input class="form-check-input" type="radio" name="priority" id="highPriority" value="1">
                            <label class="form-check-label" for="highPriority">High</label>
                        </div>
                        <div class="form-check form-check-inline mb-3">
                            <input class="form-check-input" type="radio" name="priority" id="mediumPriority" value="2">
                            <label class="form-check-label" for="mediumPriority">Medium</label>
                        </div>
                        <div class="form-check form-check-inline mb-3">
                            <input class="form-check-input" type="radio" name="priority" id="lowPriority" value="3">
                            <label class="form-check-label" for="lowPriority">Low</label>
                        </div>
                        <div class="mb-1">Select Task Category</div>
                        <div class="form-check form-check-inline mb-3">
                            <input class="form-check-input" type="radio" name="category" id="work" value="work">
                            <label class="form-check-label" for="work">Work</label>
                        </div>
                        <div class="form-check form-check-inline mb-3">
                            <input class="form-check-input" type="radio" name="category" id="personal" value="personal">
                            <label class="form-check-label" for="personal">Personal</label>
                        </div>
                        <div class="form-check form-check-inline mb-3">
                            <input class="form-check-input" type="radio" name="category" id="school" value="school">
                            <label class="form-check-label" for="school">School</label>
                        </div>
                        <div class="mb-3">
                            <label for="completeBy" class="form-label">When Does Your Task Need To Be Completed By?</label>
                            <input type="date" name="completeBy" id="completeBy" class="form-control">
                        </div>
                        <button class="btn btn-primary">Add To My List</button>
                    </form>
                </div>


                <div class="col-3 offset-1">

                    <h2 class="mb-3">Work List</h2>
                    <% for(let toDo of workToDos) {%>
                        <div class="mb-3 toDo">
                            <h4><%=toDo.task %></h4>
                            Complete By:
                            <%=formatDate(toDo)%>
                            <form method="POST" action="/<%=toDo._id %>?_method=DELETE">
                                <label for="complete<%=toDo._id %>" class="form-label">Completed?</label>
                                <input type="checkbox" name="complete" id="complete<%=toDo._id %>" class="form-check-input">
                                <button class="btn completedSubmitBtn">Submit</button>
                            </form>
                            <button class="btn editBtn mb-3" onclick="unhideForm('<%=toDo._id%>'); defaultPriority('<%=toDo._id%>', '<%=toDo.priority%>')">Edit Task</button>
                            <div id="editForm<%=toDo._id%>" hidden>
                                <form method="POST" action="/<%=toDo._id %>?_method=PATCH">
                                    <div class="mb-1">Change Priority</div>
                                    <div class="form-check form-check-inline mb-3">
                                        <input class="form-check-input" type="radio" name="priority" id="highPriority<%=toDo._id %>" value="1">
                                        <label class="form-check-label" for="highPriority<%=toDo._id %>">High</label>
                                    </div>
                                    <div class="form-check form-check-inline mb-3">
                                        <input class="form-check-input" type="radio" name="priority" id="mediumPriority<%=toDo._id %>" value="2">
                                        <label class="form-check-label" for="mediumPriority<%=toDo._id %>">Medium</label>
                                    </div>
                                    <div class="form-check form-check-inline mb-3">
                                        <input class="form-check-input" type="radio" name="priority" id="lowPriority<%=toDo._id %>" value="3">
                                        <label class="form-check-label" for="lowPriority<%=toDo._id %>">Low</label>
                                    </div>
                                    <div class="mb-3">
                                        <label for="completeBy<%=toDo._id %>" class="form-label">Change Date to be Completed By</label>
                                        <input type="date" name="completeBy" id="completeBy<%=toDo._id %>" class="form-control" value="<%=defaultDate(toDo)%>">
                                    </div>
                                    <button class="btn submitChangesBtn">Submit Task Changes</button>
                                </form>
                                <button class="btn nevermindBtn" id="nevermind<%=toDo._id %>" onclick="hideForm('<%=toDo._id %>')">Nevermind</button>
                            </div>
                        </div>
                    <% } %>
                </div>


                <div class="col-3">
                    <h2 class="mb-3">Personal List</h2>
                    <% for(let toDo of personalToDos) {%>
                        <div class="mb-3 toDo">
                            <h4><%=toDo.task %></h4>
                            Complete By:
                            <%=formatDate(toDo)%>
                            <form method="POST" action="/<%=toDo._id %>?_method=DELETE">
                                <label for="complete<%=toDo._id %>" class="form-label">Completed?</label>
                                <input type="checkbox" name="complete" id="complete<%=toDo._id %>" class="form-check-input">
                                <button class="btn completedSubmitBtn">Submit</button>
                            </form>
                            <button class="btn editBtn mb-3" onclick="unhideForm('<%=toDo._id%>'); defaultPriority('<%=toDo._id%>', '<%=toDo.priority%>')">Edit Task</button>
                            <div id="editForm<%=toDo._id%>" hidden>
                                <form method="POST" action="/<%=toDo._id %>?_method=PATCH">
                                    <div class="mb-1">Change Priority</div>
                                    <div class="form-check form-check-inline mb-3">
                                        <input class="form-check-input" type="radio" name="priority" id="highPriority<%=toDo._id %>" value="1">
                                        <label class="form-check-label" for="highPriority<%=toDo._id %>">High</label>
                                    </div>
                                    <div class="form-check form-check-inline mb-3">
                                        <input class="form-check-input" type="radio" name="priority" id="mediumPriority<%=toDo._id %>" value="2">
                                        <label class="form-check-label" for="mediumPriority<%=toDo._id %>">Medium</label>
                                    </div>
                                    <div class="form-check form-check-inline mb-3">
                                        <input class="form-check-input" type="radio" name="priority" id="lowPriority<%=toDo._id %>" value="3">
                                        <label class="form-check-label" for="lowPriority<%=toDo._id %>">Low</label>
                                    </div>
                                    <div class="mb-3">
                                        <label for="completeBy<%=toDo._id %>" class="form-label">Change Date to be Completed By</label>
                                        <input type="date" name="completeBy" id="completeBy<%=toDo._id %>" class="form-control" value="<%=defaultDate(toDo)%>">
                                    </div>
                                    <button class="btn submitChangesBtn">Submit Task Changes</button>
                                </form>
                                <button class="btn nevermindBtn" id="nevermind<%=toDo._id %>" onclick="hideForm('<%=toDo._id %>')">Nevermind</button>
                            </div>
                        </div>
                    <% } %>
                </div>


                <div class="col-3">
                    <h2 class="mb-3">School List</h2>
                    <% for(let toDo of schoolToDos) {%>
                        <div class="mb-3 toDo">
                            <h4><%=toDo.task %></h4>
                            Complete By:
                            <%=formatDate(toDo)%>
                            <form method="POST" action="/<%=toDo._id %>?_method=DELETE">
                                <label for="complete<%=toDo._id %>" class="form-label">Completed?</label>
                                <input type="checkbox" name="complete" id="complete<%=toDo._id %>" class="form-check-input">
                                <button class="btn completedSubmitBtn">Submit</button>
                            </form>
                            <button class="btn editBtn mb-3" onclick="unhideForm('<%=toDo._id%>'); defaultPriority('<%=toDo._id%>', '<%=toDo.priority%>')">Edit Task</button>
                            <div id="editForm<%=toDo._id%>" hidden>
                                <form method="POST" action="/<%=toDo._id %>?_method=PATCH">
                                    <div class="mb-1">Change Priority</div>
                                    <div class="form-check form-check-inline mb-3">
                                        <input class="form-check-input" type="radio" name="priority" id="highPriority<%=toDo._id %>" value="1">
                                        <label class="form-check-label" for="highPriority<%=toDo._id %>">High</label>
                                    </div>
                                    <div class="form-check form-check-inline mb-3">
                                        <input class="form-check-input" type="radio" name="priority" id="mediumPriority<%=toDo._id %>" value="2">
                                        <label class="form-check-label" for="mediumPriority<%=toDo._id %>">Medium</label>
                                    </div>
                                    <div class="form-check form-check-inline mb-3">
                                        <input class="form-check-input" type="radio" name="priority" id="lowPriority<%=toDo._id %>" value="3">
                                        <label class="form-check-label" for="lowPriority<%=toDo._id %>">Low</label>
                                    </div>
                                    <div class="mb-3">
                                        <label for="completeBy<%=toDo._id %>" class="form-label">Change Date to be Completed By</label>
                                        <input type="date" name="completeBy" id="completeBy<%=toDo._id %>" class="form-control" value="<%=defaultDate(toDo)%>">
                                    </div>
                                    <button class="btn submitChangesBtn">Submit Task Changes</button>
                                </form>
                                <button class="btn nevermindBtn" id="nevermind<%=toDo._id %>" onclick="hideForm('<%=toDo._id %>')">Nevermind</button>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
            <script>
                function defaultPriority(id, priority) {
                    if (priority === "1") {
                        document.getElementById(`highPriority${id}`).setAttribute('checked', 'true')
                    } else if (priority === "2") {
                        document.getElementById(`mediumPriority${id}`).setAttribute('checked', 'true')
                    } else {
                        document.getElementById(`lowPriority${id}`).setAttribute('checked', 'true')
                    }
                }

                function unhideForm(id) {
                    document.getElementById(`editForm${id}`).removeAttribute('hidden');
                }
                function hideForm(id) {
                    document.getElementById(`editForm${id}`).setAttribute('hidden', 'true');
                }
            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        </body>
    </body>
</html></body></body></html></body></html>
